flows.json
[
    {
        "id": "3ab5da6c12cb9737",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "68369e37ae309b51",
        "type": "mqtt in",
        "z": "3ab5da6c12cb9737",
        "name": "",
        "topic": "topic/street_lights",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e75897edef243b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 120,
        "wires": [
            [
                "e32a3e40cfb083eb",
                "58dbf0d21b64c02a"
            ]
        ]
    },
    {
        "id": "271d62363508dfa3",
        "type": "mqtt in",
        "z": "3ab5da6c12cb9737",
        "name": "",
        "topic": "topic/parking",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e75897edef243b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 240,
        "wires": [
            [
                "e2655defaad9d94b",
                "99adbba47ce767bf"
            ]
        ]
    },
    {
        "id": "489e71230610f6c4",
        "type": "mqtt in",
        "z": "3ab5da6c12cb9737",
        "name": "",
        "topic": "topic/air_quality",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e75897edef243b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 360,
        "wires": [
            [
                "954236a9945a2913",
                "fed2916df76677cb"
            ]
        ]
    },
    {
        "id": "4bbd0a13a26aa54a",
        "type": "mqtt in",
        "z": "3ab5da6c12cb9737",
        "name": "",
        "topic": "topic/flood_management",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3e75897edef243b9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 480,
        "wires": [
            [
                "af1ff6b085ec4a83",
                "7c2a77a314df9df6"
            ]
        ]
    },
    {
        "id": "9194e3ca1f2995ed",
        "type": "ui_template",
        "z": "3ab5da6c12cb9737",
        "group": "160099062e2ed27a",
        "name": "custom_template",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<!-- Inter font -->\n<link rel=\"preconnect\" href=\"https://rsms.me/\">\n<link rel=\"stylesheet\" href=\"https://rsms.me/inter/inter.css\">\n\n<style>\n\n    body {\n        font-family: 'Inter', sans-serif; !important;\n    }\n\n    /* Change theme color */\n    body.nr-dashboard-theme {\n        background-color: #212528;\n    }\n\n    /* Toolbar */\n    body.nr-dashboard-theme md-toolbar {\n        background-color: #213770 !important;\n      \n    }\n    \n    /* Toolbar title */\n    .md-toolbar-tools h1 {\n        font-weight: bold !important;\n        text-transform: uppercase !important;\n    }\n\n    /*Groups container*/\n\n    .layout-row>.flex {\n        max-width: 1000px !important;\n        margin: auto !important;\n    }\n\n    .masonry-container {\n        margin-top: 32px !important;\n        max-width: 1000px !important;\n    }\n\n    /*\n    .masonry-container > *{\n        position: static !important;\n        display: flex !important;\n        flex-wrap: wrap !important;\n        justify-content: center !important;\n    }*/\n\n\n    /*Groups*/\n    .nr-dashboard-theme ui-card-panel {\n        background-color: transparent !important;\n        border: 0 !important;\n    }\n\n    .nr-dashboard-theme .nr-dashboard-template {\n        background-color: transparent;\n        padding: 0 !important;\n        border-radius:15px !important;\n        //background: red! important;\n        height: 200px !important;\n    }\n    \n    /*Groups title*/\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle{\n        position: absolute !important;\n        z-index: 1 !important;\n        margin-top: 13px !important;\n        margin-left: 13px !important;\n        font-size: 18.72px !important;\n        color: #ffffff !important;\n        font-weight: bold !important;\n    }\n\n    /*Custom card style*/\n    .custom_card {\n        //background-color: blue !important;\n        height: 190px !important;\n        border-radius: 15px !important;\n        padding: 10px !important;\n    }\n    \n    /* Custom card value */\n    .custom_card h1{\n        margin-left:7px !important;\n        margin-top: 35px !important;\n        color: #ffffff !important;\n        background-color: transparent !important;\n        font-size: 35px !important;\n    }\n\n\n    #Smart_City_Parking_cards{\n        width: 966px !important;\n        height: 410px !important;\n    }\n\n\n    #Smart_City_Parking_cards .nr-dashboard-template{\n        width: 966px !important;\n        height: 410px !important;\n    }\n\n\n\n    /* On screens that are [(318x3) + (6x4)- 1]px or less */\n    @media screen and (max-width: 977px) {\n        \n        #Smart_City_Parking_cards {\n            width: 642px !important;\n        }\n    \n        #Smart_City_Parking_cards .nr-dashboard-template{\n            width: 642px !important;\n        }\n\n        /*Center group flood management*/\n            \n        #Smart_City_Flood_management{\n            left: 50% !important;\n            transform: translate(-50%, 0%) !important;\n        }\n    }\n\n    @media screen and (max-width: 653px) {\n        #Smart_City_Parking_cards{\n             width: 318px !important;\n        }\n        #Smart_City_Parking_cards .nr-dashboard-template{\n            width: 318px !important;\n        }\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 210,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "e32a3e40cfb083eb",
        "type": "ui_template",
        "z": "3ab5da6c12cb9737",
        "group": "160099062e2ed27a",
        "name": "street_lights_template",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    #lights_card {\n        background-repeat: no-repeat !important;\n        background-size: cover !important;\n        background-position: right !important;\n    }\n</style>\n\n<div id=\"lights_card\" class=\"custom_card\" style=\"background:url({{msg.payload.lights_status === 1 ?\n'/street_lamp_night.jpg' :\n'/street_lamp_day.jpg'}})\">\n\n    <h1>{{msg.payload.lights_status === 1 ? 'ON' : 'OFF'}}</h1>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "954236a9945a2913",
        "type": "ui_template",
        "z": "3ab5da6c12cb9737",
        "group": "0c22cea565f7165d",
        "name": "air_quality_template",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    #air_quality_card {\n        background-repeat: no-repeat !important;\n        background-size: 150% 150% !important;\n        background-position: right bottom!important;\n    }\n</style>\n\n<div id=\"air_quality_card\" class=\"custom_card\" style=\"background:url({{msg.payload.air_quality_status === 1 ?\n'/air_quality_bad.jpg' :\n'/air_quality_good.jpg'}})\">\n    <h1>{{msg.payload.air_quality_status === 1 ? 'BAD' : 'GOOD'}}</h1>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "af1ff6b085ec4a83",
        "type": "ui_template",
        "z": "3ab5da6c12cb9737",
        "group": "3efd1501e5a7aac4",
        "name": "flood_management_template",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    #flood_management_card {\n        background-repeat: no-repeat !important;\n        background-position: center -21px !important;\n        background-size: 140% 140% !important;\n}\n    }\n</style>\n\n<div id=\"flood_management_card\" class=\"custom_card\" style=\"background:url(/flood_management.jpg)\">\n    <h1>{{msg.payload.flood_status}}</h1>\n</div>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 520,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "99adbba47ce767bf",
        "type": "ui_template",
        "z": "3ab5da6c12cb9737",
        "group": "79220384135d18f7",
        "name": "parking_template",
        "order": 2,
        "width": 6,
        "height": 1,
        "format": "<style>\n\n    #parking_card {\n            background: linear-gradient(#0C5794, #032D5A);;\n            height: 410px !important;\n    }\n\n    #parking_slots {\n        display: flex !important;\n        flex-wrap: wrap !important;\n        justify-content: center !important;\n        gap: 20px 80px !important;\n        margin-top: 40px !important;\n    }\n    \n    /* single card */\n    .slot{\n        width: 300px !important;\n        height: 70px !important;\n        border-radius: 15px !important;\n        display: flex !important;\n        justify-content: center !important;\n        align-items: center !important;\n        color: #ffffff !important;\n        font-weight: bold !important;\n    }\n\n    .slot_status_free{\n        background-color: #48F277 !important;\n    }\n\n    .slot_status_busy{\n        background-color: #F24848 !important;\n    }\n\n    @media screen and (max-width: 977px) {\n        .slot {\n            width: 200px !important;\n        }\n    }\n\n    @media screen and (max-width: 653px) {\n    \n        #parking_slots {\n            display: flex !important;\n            flex-wrap: wrap !important;\n            justify-content: center !important;\n            gap: 20px 20px !important;\n            margin-top: 40px !important;\n        }\n\n        .slot {\n            width: 100px !important;\n        }\n    }\n</style>\n\n<div id=\"parking_card\" class=\"custom_card\">\n<h1>FREE SLOTS: {{msg.payload.free}}</h1>\n\n    <div id=\"parking_slots\">\n        <div class=\"slot {{msg.payload.slot4 === 1 ? 'slot_status_busy' : 'slot_status_free'}}\">SLOT 4</div>\n        <div class=\"slot {{msg.payload.slot1 === 1 ? 'slot_status_busy' : 'slot_status_free'}}\">SLOT 1</div>\n        <div class=\"slot {{msg.payload.slot5 === 1 ? 'slot_status_busy' : 'slot_status_free'}}\">SLOT 5</div>\n        <div class=\"slot {{msg.payload.slot2 === 1 ? 'slot_status_busy' : 'slot_status_free'}}\">SLOT 2</div>\n        <div class=\"slot {{msg.payload.slot6 === 1 ? 'slot_status_busy' : 'slot_status_free'}}\">SLOT 6</div>\n        <div class=\"slot {{msg.payload.slot3 === 1 ? 'slot_status_busy' : 'slot_status_free'}}\">SLOT 3</div>\n    </div>\n\n    \n</div>\n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 490,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "58dbf0d21b64c02a",
        "type": "debug",
        "z": "3ab5da6c12cb9737",
        "name": "debug_street_lights",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "e2655defaad9d94b",
        "type": "debug",
        "z": "3ab5da6c12cb9737",
        "name": "debug_parking",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 220,
        "wires": []
    },
    {
        "id": "fed2916df76677cb",
        "type": "debug",
        "z": "3ab5da6c12cb9737",
        "name": "debug_air_quality",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 340,
        "wires": []
    },
    {
        "id": "7c2a77a314df9df6",
        "type": "debug",
        "z": "3ab5da6c12cb9737",
        "name": "debug_flood_management",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 460,
        "wires": []
    },
    {
        "id": "3e75897edef243b9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1885",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "160099062e2ed27a",
        "type": "ui_group",
        "name": "Street lights",
        "tab": "8641a77d9591c28f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0c22cea565f7165d",
        "type": "ui_group",
        "name": "Air quality",
        "tab": "8641a77d9591c28f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3efd1501e5a7aac4",
        "type": "ui_group",
        "name": "Flood management",
        "tab": "8641a77d9591c28f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "79220384135d18f7",
        "type": "ui_group",
        "name": "Parking",
        "tab": "8641a77d9591c28f",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8641a77d9591c28f",
        "type": "ui_tab",
        "name": "Smart City",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]